*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  list-style: none;
}
body{
  background-color: DarkCyan;
}
.imagens-dogs{
  width: 17vw;
}
.box{
  display: flex;
  align-items:center;
  justify-content: center;
  transform: translate(-24%, 18vw);
  margin: auto;
}
.box-img{
  display: flex;
  justify-content: center;
  transform: translate(45%, 20%);
  margin: auto;
  width: 35%;
}
button {
  background: #00688B;
  color: #fff;
  border: 0.25rem solid #00688B;
  padding: 1em 0.75em;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-size: 1em;
}
button:hover {
  color: #00688B;
  cursor: pointer;
}
button::after {
  content: "";
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}

button::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
}
button:hover::after {
  transform: skewX(-45deg) scale(1, 1);
}

@media(max-width: 716px){
  .box{
    display: flex;
    align-items:center;
    justify-content: center;
    transform: translate(-0%, 20vw);
    margin: auto;
  }
  .box-img{
    display: flex;
    justify-content: center;
    transform: translate(4%,170%);
    margin: auto;
    width: vw;
  }
  .imagens-dogs{
    width: 25vw;
    position: relative;
    bottom: px;
  }
  button {
    background: #00688B;
    color: #fff;
    border: 0.25rem solid #00688B;
    padding: 1.2em 0.75em;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 0.8em;
  }
}
